
.MAIN{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.NavBar{
    height: 20%;
    width: 100%;
    border: 2px solid black;
    background-color: black;
}
.Image{
    display: flex;
}

ul{
    display: flex;
}


/* .Navi{ */
    /* display: flex; */
    /* flex-direction:column; */
/* } */
li{
    list-style: none;
    padding-left: 25px;
    /* color: white; */
}
a{
    text-decoration: none;
    color: white;
    /* columns: white; */
}

.NavBar{
    display: flex;
    justify-content: space-around;
}

.btn_Trial:hover{

    background-color:aqua;
}

a:hover{
    color: aqua;
}

.PhotoGraph{
    /* border: 2px solid black; */
    background-color: blanchedalmond;

}

.Nature_Images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}






/* img{ */
    /* height: 500px; */
    /* width: 500px; */
/* } */

img{
    mask-repeat: no-repeat;
    /* border-radius: 20px; */
}
.C_Img{
    height: 400px;
    width: 400px;
    border-radius: 20px;
}
.Nature:hover{
    height: 300px;
    content: url("./Images/camera_icon.png");
    background-image: url("./Images/camera_icon.png");
    background-repeat: no-repeat;
    /* border: 1px solid black; */
}


.Third_Section{
    height: 100%;
    /* width: 100%; */

    background-image:url("./Images/man_backgroundImages.jpg");
    background-size: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: -10px;
    
    /* background-image: url("./Images/back1.jpg"); */
    height: 100%;
    /* width: 500%; */
    background-repeat: no-repeat;
}

.Contact{
    display: flex;
    background-color: black;
}

.pht{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news{
    display: flex;
    flex-direction: column;
    justify-content: center;
}